.recipeCard {
    width: minmax(4rem, 6rem);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr repeat(2, 0.5fr) 3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-color: rgba(95, 158, 160, 0.407);
    border-radius: 10%;
    border-width: 5px;
    border-color: black;
    border-style: solid;
}


.header {
    /* width: 270px;
    height: 200px; */
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 2; 
}

.header :hover {
    color: grey;
}

.header h2 {
    font-size: minmax(12px, 24px);
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    margin: 6px 3px 6px;
}

.recipeCard h4 {
    font-size: minmax(12px, 24px);
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    margin: 5px 3px 5px;
    inline-size: wrap;
    display: flex;
    justify-self: center;
    align-items: center;
    grid-area: 2 / 1 / 3 / 2;
}

.recipeCard h5 {
    font-size: minmax(12px, 24px);
    color: white;
    text-decoration: none;
    text-decoration-color: white;
    font-style: italic;
    margin: 2px 3px 2px;
    display: flex;
    justify-self: center;
    align-items: center;
    grid-area: 3 / 1 / 4 / 2;
}



.ImageContainer {
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-area: 4 / 1 / 5 / 2;


}

.ImageContainer :hover {
    border-radius: 20px;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    grid-area: 4 / 1 / 5 / 2;

}


.ImageContainer img {
    border-radius: 20px;

    max-width:270px;
    max-height:200px;
    height: 100%;
    width: auto;

    

    display: block;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
    align-self: auto;
    order: 0;


}
