.home__container {
  max-width: 1200px;
  margin: auto;
}

.filters__container {
  display: flex;
  width: fit-content;
  gap: 1rem;
  margin: auto;
  margin-block: 1rem;
}

.filters__filterDiets {
  width: fit-content;
  padding: 0.2em;
}

.sorts {
  gap: 1rem;
  width: fit-content;
  list-style: none;
  margin: auto;
}

.pages__container {
  display: flex;
  width: fit-content;
  align-items: center;
  margin: auto;
  gap: 2rem;
}

.homeCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: black;
}

.backToTop {
  margin: auto;
  width: fit-content;
}
