:root {
  --step--2: clamp(0.59rem, calc(0.59rem + 0.03vw), 0.61rem);
  --step--1: clamp(0.67rem, calc(0.65rem + 0.11vw), 0.73rem);
  --step-0: clamp(0.75rem, calc(0.71rem + 0.22vw), 0.88rem);
  --step-1: clamp(0.84rem, calc(0.77rem + 0.36vw), 1.05rem);
  --step-2: clamp(0.95rem, calc(0.84rem + 0.54vw), 1.26rem);
  --step-3: clamp(1.07rem, calc(0.91rem + 0.77vw), 1.51rem);
  --step-4: clamp(1.20rem, calc(0.99rem + 1.07vw), 1.81rem);
  --step-5: clamp(1.35rem, calc(1.06rem + 1.44vw), 2.18rem);
}

.paginado__container{
  margin-block: 1rem;
  font-size: var(--step-0);
  overflow-x: hidden;
}

.paginado {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 0;
}

.paginadoPagina {
    border : 0;
    width: 30px;
    height: 30px;
}

.paginaActual{
    border : 0;
    width: 30px;
    height: 30px;
    background-color: darkslategray;
    color: white;
}
