.navBar-bg {
    background-color: black;
}

.navBar-bg h1 {
    margin-top: 0%;
    padding-top: 10px;
}

.navBar {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    font-size: larger;
    padding-bottom: 10px;
    padding-inline: 20%;

}

.navBar a:visited {
    color:white
}

.navBar form{
    display: flex;
}

.navBar form button{
    font-size: 11px;
}


